* {
  padding: 0;
  margin: 0;
}

.MainContainer {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.MainContainer #Header {
  background: #2d2d2d;
  color: #ffffff;
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainContainer .HomeBody {
  background: #3B3A3A;
  width: 100%;
  height: 100%;
  padding: 70px 0;
}
.MainContainer .HomeBody .topics_title {
  margin: 30px;
  display: flex;
  justify-content: center;
}
.MainContainer .HomeBody .topics_title h2 {
  color: #ffffff;
}
.MainContainer .Topics {
  padding: 20px 0;
  justify-items: center;
  display: grid;
  grid-template-columns: 33% 33% 34%;
}
.MainContainer .Topics .Topic {
  width: 80%;
  display: grid;
  height: 250px;
  grid-template-rows: 200px 50px;
  justify-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.MainContainer .Topics .Topic .PhotoContent {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainContainer .Topics .Topic .PhotoContent img {
  display: block;
  height: 180px;
  border-radius: 10px;
}
.MainContainer .Topics .Topic div {
  display: block;
  width: 100%;
  background: #2d2d2d;
  border-radius: 0 0 10px 10px;
}
.MainContainer .Topics .Topic div h3 {
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.services {
  display: block;
}
.services a {
  display: block;
  color: #ffffff;
  background: #2d2d2d;
  padding: 40px 20px;
  width: 100%;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 10px;
  cursor: pointer;
}
.services a:hover {
  text-decoration: underline;
}

.YuContainer {
  height: 100vh;
}

.Yuheader {
  width: 100%;
  height: 10vh;
  background: #2d2d2d;
  display: flex;
  align-items: center;
}
.Yuheader .history_games {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Yuheader .history_games img {
  width: 50px;
}
.Yuheader div {
  width: 33%;
  display: flex;
  cursor: pointer;
}
.Yuheader div:hover {
  background: rgba(255, 255, 255, 0.5);
}
.Yuheader .YuDices {
  justify-content: center;
  height: 70px;
  align-items: center;
}
.Yuheader .YuDices img {
  width: 50px;
}
.Yuheader .YuTitle {
  justify-content: center;
}
.Yuheader .YuTitle span {
  color: #ffffff;
}
.Yuheader .YuSettings {
  height: 70px;
  justify-content: center;
  align-items: center;
}
.Yuheader .YuSettings img {
  width: 50px;
}

.YuBody {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.YuBody .playerPoints {
  height: 100%;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  justify-content: center;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.YuBody .playerPoints span {
  font-size: 40px;
  cursor: pointer;
  color: #ffffff;
  padding-bottom: 20px;
}

.ModalContainer {
  background: url("../assets/imgs/ModalBackground.jpg");
  background-size: cover;
  background-position: center center;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  width: 60%;
  height: 50%;
}
.ModalContainer .CloseModal {
  display: flex;
  justify-content: flex-end;
}
.ModalContainer .CloseModal span {
  font-size: 20px;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}
.ModalContainer .Calculator {
  padding: 20px;
  height: 200px;
}
.ModalContainer .Calculator .Calculator_screen {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  align-items: center;
}
.ModalContainer .Calculator .Calculator_screen .CalculatorOperator {
  width: 95%;
  height: 40px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition-duration: 3s;
  cursor: pointer;
}
.ModalContainer .Calculator .Calculator_screen .CalculatorOperator svg, .ModalContainer .Calculator .Calculator_screen .CalculatorOperator img {
  fill: #ffffff;
  width: 30px;
  transition-duration: 3s;
}
.ModalContainer .Calculator .Calculator_screen .Lp {
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  text-shadow: 1px 1px 2px #000000;
}
.ModalContainer .Calculator .Calculator_screen input {
  text-align: center;
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 70%;
  font-size: 20px;
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
}
.ModalContainer .Calculator .Calculator_screen .CalculatorOperatorMinus {
  background: url("../assets/imgs/minus.svg");
}
.ModalContainer .Calculator .Calculator_screen .CalculatorOperatorPlus {
  background: url("../assets/imgs/add.svg");
}
.ModalContainer .Calculator .CalculatorKeys {
  padding: 10px 0;
}
.ModalContainer .Calculator .CalculatorKeys .resultKey {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  cursor: pointer;
}
.ModalContainer .Calculator .CalculatorKeys .resultKey span {
  font-size: 20px;
  font-weight: bold;
}
.ModalContainer .Calculator .CalculatorKeys .gridKeys {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  justify-items: center;
  overflow-y: scroll;
  padding: 10px;
}
.ModalContainer .Calculator .CalculatorKeys .gridKeys span {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #ffffff;
  width: 80%;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

/*# sourceMappingURL=styles.css.map */
